<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="data source=KLUKVA;Initial Catalog=DB11;Integrated Security=True; Encrypt = false; User ID=klukva;Password=neklukva"
 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>